{% extends 'sim52/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-7 mx-auto mt-5 mb-5 pb-5 bodyx">
    <h1 class="c">Crear Encuesta</h1>

    <form method="POST">
    {% csrf_token %}

        <div class="col-10 mx-auto mb-3">

            <div class="row align-items-center">
                <div class="col-8">
                    <div class="mb-3">
                        <label for="FormControl0" class="form-label atxt0">Nombre de la Encuesta</label>
                        <input class="form-control" type="text" name="encuestaname" id="FormControl0">
                    </div>
                </div>

                <div class="col-4">
                    <div class="mb-3">
                        <label for="FormControl1" class="form-label atxt0">Numero de Pregintas</label>
                        <input class="form-control" type="text" name="numpreguntas" id="FormControl1" aria-labelledby="numpreguntas">
                    </div>
                </div>
            </div>

            <div class="col-lg-7 mx-auto mt-5 pb-5">
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid gap-2 mx-auto">
                            <a class="btn btn-danger btn-block" onclick="goBack()">Cancelar</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid gap-2 mx-auto">
                            <button class="btn btn-success atxt0" type="submit" value="submit">Comenzar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}
