{% load static %}
<div class="col-12 mb-5 pt-5 pb-2 bodyy">
    <div class="row">
        <div class="col-4 ms-5 p-3 c">
            <h2>Projecto</h2>
            <h5>Este projecto es un laboratorio de datos para preparacion de aprendices en el manejo y analysis de Datos.</h5>
        </div>

        <div class="col-3 p-3 c">
            <h2>Contacto</h2>
            <p>Informacion sobre el projecto</p>
            <p>Gabriel Masutier</p>
            <p>+57 (319) 403 6153</p>
        </div>

        <div class="col-4 pt-3 pe-4 c">
            <h2>Social Media</h2>
            <a href="" target="_blank">
                <img src="{% static '/img/redes/facebook.png' %}" class="imgsocial" alt="LOGO" />
            </a>
            
            <a href="" target="_blank">
                <img src="{% static '/img/redes/instagram.png' %}" class="imgsocial" alt="LOGO" />
            </a>
            
            <a href="" target="_blank">
                <img src="{% static '/img/redes/twiter.png' %}" class="imgsocial" alt="LOGO" />
            </a>

            <a href="" target="_blank">
                <img src="{% static '/img/redes/YouTube.png' %}" class="imgsocial" alt="LOGO" />
            </a>

            <a href="" target="_blank">
                <img src="{% static '/img/logos/logoSena.png' %}" class="imgsocsena" alt="LOGO" />
            </a>
        </div>

    </div>
</div>
